<html>
    <head>
        <meta charset="utf-8"/>
        <title>Simple Slim Framework 3 Prototype User Management API</title>
    </head>
    <body>
        <p>Simple Slim Framework 3 Prototype User Management API</p>
    </body>
</html>

